# Ces variables sont automatiquement configurées par Vercel
# Pas besoin de les définir manuellement

# POSTGRES_URL="***"
# POSTGRES_PRISMA_URL="***"
# POSTGRES_URL_NON_POOLING="***"
# POSTGRES_USER="***"
# POSTGRES_HOST="***"
# POSTGRES_PASSWORD="***"
# POSTGRES_DATABASE="***"
